/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Plus Jakarta Sans", sans-serif;
}

.code {
    font-family: 'JetBrains Mono', monospace;
}